<%- include("../partials/header") %>

<div class="container">
    <h1 class="text-center mb-4">Add new comment to <%= campground.name %></h1>
    <div style="width: 30%; margin: 0 auto;">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <input type="text" name="comment[text]" placeholder="text" class="form-control" id="inputName">
            </div>

              <button type="submit" class="btn btn-primary btn-block">Submit</button>
              <a href="/campgrounds">Go Back</a>
        </form>
    </div>
</div>


<%- include("../partials/footer") %>